%% -*- erlang -*-

[{vrrm,
  [
   {manager_update_interval, 100}
  ]},
{lager, [{handlers, [{lager_console_backend,
                      [info,
                       {lager_default_formatter, [date, " ", time, " ", color, "[", severity, "] ",
                                                  {pid, ["pid=", pid], ""},
                                                  {module, [
                                                            "", module, ":",
                                                            {function, [function, ":"], ""},
                                                            {line, [line], ""}], ""},
                                                  " ", message, "\n"]}]}]}]}
].
