%% -*- erlang -*-
{erl_opts,
 [
  debug_info,
  warnings_as_errors,
  nowarn_export_all,
  {platform_define, "^[0-9]+", namespaced_types},
  {parse_transform, lager_transform},
  warn_untyped_record
 ]}.

{deps,
 [
  lager
 ]}.

{profiles,
 [{test,
   [{sys_config, "test/config/sys.config"}]}]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.

{dist_node, [{name, 'testrunner@127.0.0.1'}]}.
