%% -*- erlang -*-
{erl_opts,
 [
  debug_info,
  warnings_as_errors,
  {platform_define, "^[0-9]+", namespaced_types},
  {parse_transform, lager_transform},
  warn_untyped_record
 ]}.

{deps,
 [
  lager
 ]}.

{profiles,
 [{test,
   [{sys_config, "test/config/sys.config"}]}]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.
