%% -*- erlang -*-
{erl_opts,
 [
  debug_info,
  warnings_as_errors,
  {platform_define, "^[0-9]+", namespaced_types},
  {parse_transform, lager_transform},
  warn_untyped_record
 ]}.

{deps,
 [
  lager
 ]}.

{profiles,
 [{test,
   [
    {app_dir, "test/apps"},
    {relx, [{release, {test_sup, "dev"},
             [
              vrrm
             ]},
            {sys_config, "test/config/sys.config"},
            {vm_args, "test/config/vm.args"},
            {dev_mode, true},
            {include_erts, false},
            {extended_start_script, true}]}

   ]}]}.
